@model ECommerce.Models.Account.RegisterModels

@{
    /**/

    ViewBag.Title = "Kayıt";
}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        @using (Html.BeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h2>Kayıt</h2>
                    @if (ViewBag.ReError != null && string.IsNullOrEmpty((string)ViewBag.ReError) == false)
                    {
                        <small style="color:red;">@ViewBag.ReError</small>
                    }
                    else
                    {
                        <small>Lütfen E-Posta ve Şifrenizi Giriniz.</small>
                    }
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <center>
                            <img src="~/images/account.png" class="img-circle img-responsive" style="width:125px" />
                        </center>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Member.Name, new { @class = "form-control",
                       placeholder = "İsim", type = "text", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Member.Surname, new { @class = "form-control",
                       placeholder = "Soyisim", type = "text", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Member.Email, new { @class = "form-control",
                       placeholder = "E-Posta adresi", type = "email", required = "required" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Member.Password, new { @class = "form-control",
                       placeholder = "Şifre", type = "password", required = "required" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.rePassword, new { @class = "form-control",
                       placeholder = "Tekrar Şifre", type = "password", required = "required" })
                    </div>

                </div>
                <div class="panel-footer text-right">
                    <a href="@Url.Action("Login","Account")" class="btn btn-info">
                        <span class="glyphicon glyphicon-log-in"></span> Giriş Yap
                    </a>
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Kayıt Ol
                    </button>

                </div>
            </div>
        }




    </div>
</div>